 * {
	max-width: 	1024px;
	margin: 0 auto;
	font-family: sans-serif;
	line-height: 24px;
}

h1,h2 {
	text-align: center;
	padding: 10px 0;
	position: relative;
	margin-bottom: 5px;
}

h1::after,h2::after {
	content:'';
	display: block;
	position: absolute;
	left: calc(50% - 50px);
	bottom: 0px;
	width: 100px;
	height: 2px;
	background-color: #000;
}

img {
	width: 50%;
	margin: 0 auto;
}

article {
	text-align: center;
}

section {
	text-align: left;
}

.bold {
	font-weight: bold;
}